.top-section{
background-color: #a2b9bc
font-family: Arial, Helvetica, sans-serif;

}

body{
background-color: #c4b7a6

}

.middle-section{
background-color:#7ABACC
font-family:Georgia, 'Times New Roman', Times, serif
}

.lists{
background-color: #e6e2d3;
text-align: left;
}
.image{
background-color: #c2b7a8d5;
text-align: center;
}